@charset "utf-8";
body {
text-align:center;
font-family:tahoma,Arial,sans-serif;
color:#FFFFFF;
}
#encabezado {
text-align:center;
height:40px;
margin-bottom:40px;
width:100%;
}
#cont  {
width: 1000px;
margin: 0 auto 0 auto;
text-align:left;
}

#contenido {
width:500px;
float:left;
margin-bottom:70px;
}
#contenido h2 {
font-size:18px;
color:#464545;
font-weight:normal;
}
#contenido h2 span {
color:#a7a7a7
}
#contenido p {
font-size:13px;
}
#menu {
width:180px;
float:right;
text-transform:uppercase;
}
#fotos {width:370px;}
#fotos div{width:100px;
height:69px;
float:left;
margin:10px 9px 15px 9px;
background:silver;}
#imagen {clear:both;height:296px;}
#imagen h2{font-size:18px;color:#464545;font-weight:normal;}
#imagen h2 span {color:#a7a7a7;}
#imagen p {text-align:center;font-size:13px;padding-top:10px;clear:both;}
#pie {font-size:18px;color:red;height:32px;margin-bottom:40px;width:693px;}