{% extends "plantilla.html" %}
{% block body %}
<h2>Actualizar Pokémon</h2>
<form method="POST" action="{{ url_for('actualizarPokemon', id=pokemon.idPokemon) }}">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ pokemon.nombre }}" required>
    </div>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <input type="text" class="form-control" id="tipo" name="tipo" value="{{ pokemon.tipo }}" required>
    </div>
    <div class="form-group">
        <label for="generacion">Generación</label>
        <input type="text" class="form-control" id="generacion" name="generacion" value="{{ pokemon.generacion }}"
            required>
    </div>
    <div class="form-group">
        <label for="nroPokemon">Número de Pokémon</label>
        <input type="text" class="form-control" id="nroPokemon" name="nroPokemon" value="{{ pokemon.nroPokemon }}"
            required>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
{% endblock %}