{% extends "plantilla.html" %}
{% block body %}
<h2>Agregar Nueva Captura</h2>
<form method="POST" action="{{ url_for('adicionarCaptura') }}">
    <div class="form-group">
        <label for="idPokemon">ID Pokémon</label>
        <input type="text" class="form-control" id="idPokemon" name="idPokemon" required>
    </div>
    <div class="form-group">
        <label for="ci">CI</label>
        <input type="text" class="form-control" id="ci" name="ci" required>
    </div>
    <div class="form-group">
        <label for="ruta">Ruta</label>
        <input type="text" class="form-control" id="ruta" name="ruta" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
{% endblock %}
